.sidebar {
    position: fixed;
    top: 56px; /* Adjust this value based on your header height */
    left: 0;
    height: calc(100vh - 56px); /* Adjust this value based on your header height */
    width: 250px;
    background-color: #f8f9fa;
    transition: transform 0.3s ease;
    z-index: 100;
    overflow-y: auto;
  }
  
  .sidebar.visible {
    transform: translateX(0);
  }
  
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-item {
    padding: 10px;
  }
  
  .sidebar-link {
    text-decoration: none;
    color: #000;
  }
  
  .sidebar-item:hover {
    background-color: #dcdee0;
    cursor: pointer;
  }
  .active li{
    background-color: #dcdee0;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      top: 56px; /* Adjust this value based on your header height */
      left: 0;
      height: calc(100vh - 56px); /* Adjust this value based on your header height */
      width: 250px;
      background-color: #f8f9fa;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 100;
      overflow-y: auto;
    }
  
    .sidebar.visible {
      transform: translateX(0);
    }
  
    .sidebar-hidden {
      transform: translateX(-100%);
    }
  }
